<!doctype html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0;'>
    <title >Mercury</title>
    <link rel='stylesheet' href='styles/reset.css'>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='styles/main.css'>
</head>
<body>

	<div id="content"></div>

	<script id="signin" type="underscore/template">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text"><%= name %></h2>
		  </div>
		</div>
	</script>

	<script id="signup" type="underscore/template">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text">SIGNUP: <%= name %></h2>
		  </div>
		</div>
	</script>

	<script id="user" type="underscore/template">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text">USER: <%= name %>, ID: <%= id %></h2>
		  </div>
		</div>
	</script>

	<!-- MDL -->
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>

	<!-- jQuery -->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>

    <!-- underscore -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
    
    <!-- ROUTING -->
    <script src="javascript/director.min.js"></script>
    <script src="javascript/routes.js"></script>

    <!-- Views -->
    <script src="javascript/views/signin.js"></script>
    <script src="javascript/views/signup.js"></script>
    <script src="javascript/views/user.js"></script>

    <!-- APP -->
    <script src='javascript/main.js'></script>
</body>
</html>